.footer {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 20px;
    justify-content: space-between;
    padding: 80px 32px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 80px 32px;
  }
}

.footer-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    display: flex;
    order: 1;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
  }
}

.logo-link {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  padding: 16px 0;
  font-weight: 700;
  text-transform: uppercase;
  fill: currentColor;

  justify-content: center;
  align-items: center;
}

.footer-vector-text {
  margin: 0;
}
.logo-title {
  margin: 0;
  padding: 20px 0;
}
.page-footer {
  color: #ae1332;
  @media screen and (min-width: 768px) {
  }
}
.footer-menu {
  @media screen and (min-width: 768px) {
    width: 345px;
    order: 3;
  }
  @media screen and (min-width: 1280px) {
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.footer-menu-page {
  display: flex;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: 1280px) {
    padding: 0;
    margin: 0 auto;
  }
}
.footer-menu-item .page {
}
.footer-social {
  @media screen and (min-width: 768px) {
    display: block;
    order: 2;
  }

  @media screen and (min-width: 1280px) {
    order: 3;
  }
}
.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 44px;
  padding-left: 0;

  @media screen and (min-width: 1280px) {
    padding-top: 0;
    margin-top: 0;
    justify-content: flex-start;
  }
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 10px;
  border: 1px solid #ae1332;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
}
.social-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  opacity: 0.8;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 44px;
  padding-left: 0;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
  }
}
.footer-contact {
  color: #ae1332;

  @media screen and (min-width: 1280px) {
    display: block;
    font-size: 18px;
  }
}

.footer-address {
  color: #ae1332;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.footer-phone {
  padding-bottom: 14px;
}
